{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="identity-section-edit">
            <h1 class="center">Identité</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-info edit-button" value="Confirmer"/>
            {{ form_end(edit_form) }}

            <p class="edit-button">
                <a class="btn btn-success" href="{{ path('identity_index') }}">Retour</a>
            </p>
        </div>
    </div>

{% endblock %}
