@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/* GENERAL */

$font-size-h1: calc(4vh + 5px);
$font-size-h2: calc(3vh + 5px);
$font-size-p: calc(2vh + 5px);
$font-julius-sans-one: 'Julius Sans One', sans-serif;
$font-lato: 'Lato', sans-serif;

h1, nav {
  font-family: $font-julius-sans-one;
  font-size: $font-size-h1;
}

p {
  font-family: $font-lato;
  font-size: $font-size-p;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: $font-size-h2;
}

.section {
  min-height: 100vh;
}

.center {
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.active {
  color: red;
}

/* IDENTITY ------------------------------------------------------------------------------------------------------------*/

.identity-background {
  background-color: grey;
  min-height: 100vh;
  .identity-section {
    h1 {
      margin-top: 12vh;
      margin-bottom: 3vh;
    }
    @media (max-width: 1000px) {
      h1 {
        margin-top: 8vh;
      }
    }
    .presentation-image {
      min-height: 5vh;
      img {
        margin-top: calc(2vh + 2vw);
        margin-bottom: calc(1vh + 1vw);
        height: 30vh;
        width: 30vh;
      }
    }
    p {
      margin-top: calc(1vh + 2vw);
      a {
        img {
          max-height: 5vh;
          max-width: 5vh;
          margin: 15px;
        }
      }
    }
    .identity-hr-navbar {
      margin-bottom: 70px;
      hr {
        border: solid 2px black;
      }
      button span {
        border: solid 1px black;
      }
      .navbar {
        height: 40px;
        .navbar-header {
          background-color: grey;
        }
        .collapse {
          background-color: grey;
          -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
          -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
          transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
          .nav {
            float: none;
            display: inline-block;
            li {
              padding-left: 10px;
              padding-right: 10px;
              a {
                color: white;
                font-size: calc(2vh + 3px);
              }
              a:hover {
                color: black;
                background-color: grey;
              }
            }
          }
        }
      }
      @media (min-width: 770px) {
        .navbar.navbar-shrink {
          .collapse {
            background-color: black;
            padding-top: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}

/* PROJECTS ------------------------------------------------------------------------------------------------------------*/

.project-background {
  background-color: black;
  min-height: 100vh;
  .project-section {
    h1 {
      margin-top: 20vh;
    }
    .row {
      margin-top: 10vh;
      .image-div {
        overflow: hidden;
        .image {
          max-height: 38vh;
          max-width: 38vh;
          transition: 0.4s;
          @media (min-width: 996px) {
            cursor: pointer;
          }
        }
      }
      .image-div:hover .image {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);

      }
      h2 {
        margin-bottom: 3vh;
        margin-top: 1vh;
      }
    }
    .modal {
      .modal-dialog {
        margin: 10vh auto;
        .modal-body {
          padding: 10px;
          img {
            max-height: inherit;
            width: 30vw;
          }
        }
      }
    }
    .div-button {
      margin-top: 5vh;
    }
  }
  .button-project {
    color: white;
    font-size: $font-size-p;
    font-family: $font-julius-sans-one;
    border: solid 2px white;
    border-radius: 1px;
  }
  .button-project:hover {
    color: red;
    border: solid 2px red;
  }
}
