@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/* GENERAL */

.center {
  text-align: center;
}

/* IDENTITY ------------------------------------------------------------------------------------------------------------*/

.identity-section {
  .presentation-image {
    img {
      height: 150px;
      width: 150px;
    }
  }
  .collapse {
    .nav {
      float: none;
      display: inline-block;
      a {
        color: black;
      }
    }
  }
}