@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.identity-section {
  .main-title {
    text-align: center;
  }
  .image-content-center {
    text-align: center;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .center {
    text-align: center;
  }
}