


    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.image }}</td>
        </tr>
    {% endfor %}
    </tbody>

