{#{% for project in projects %}#}
    <div class="project-section container">
            <h1 class="center">My projects</h1>
        <div class="row">

            <div class="col-sm-6 center">
                <img src="{{ asset('uploads/project/') ~ project.image }}">
            </div>

            <div class="col-sm-6">
                <h2 class="center">{{ project.name }}</h2>
                <p>{{ project.description }}</p>
            </div>
        </div>
        <div class="center div-button">
            <a class="btn btn-primary" href="{{ project.url }}" target="_blank">Visit it</a>
        </div>
    </div>
{#{% endfor %}#}