<div class="contact-background section">
    <div class="contact-section container" id="contact">
        <h2 class="center">Contact</h2>

        <form action="" method="post" role="form">

            <div class="form-group">
                <div class="div-form">
                    <label for="">Your name</label>
                    <input type="text" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="div-form">
                    <label for="">Your email</label>
                    <input type="email" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="div-form">
                    <label for="">Your question</label>
                    <textarea class="form-control" name="" id="" placeholder=""></textarea>
                </div>
            </div>

            <div class="center div-button">
                <a type="submit" class="btn button-project">Submit</a>
            </div>
        </form>
    </div>
</div>